.aboutPage {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 90rem;

  .aboutTop {
    width: 100%;
    height: 100%;
    border-left: 6px solid #cccccc;
    .aboutTopText {
      padding: 20px 20px 0px 20px;
      p {
        font-size: 81px;
        line-height: 82px;
        color: #cccccc;
      }
      .hello {
        color: #d9d9d9;
      }
      span {
        color: #ffd966;
      }
    }
  }
  .aboutCenter {
    display: flex;
    width: 100%;
    margin-top: 4.5rem;

    .aboutCenterImg {
      width: 50%;
      height: 100%;
      margin-right: 2rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .aboutCenterText {
      width: 50%;

      .centerTextTop {
        width: 100%;
        text-align: center;
        margin-top: -10px;
        .weeeating {
          display: flex;
          align-items: center;
          p {
            font-size: 26px;
            width: 170px;
          }
        }
        .weeeating:after {
          content: "";
          display: block;
          width: 45%;
          border-bottom: 2px solid black;
          margin-left: 12px;
        }
        .weeeating:before {
          content: "";
          display: block;
          width: 45%;
          border-bottom: 2px solid black;
          margin-right: 12px;
        }
      }
      .centerTextCenter {
        margin-top: 30px;
        p {
          font-family: sans-serif;
          line-height: 30px;
          font-size: 18px;
        }
      }
      .centerTextBottom {
        margin-top: 20px;
        border-bottom: 2px solid black;
      }
    }
  }
  .clickLink {
    margin-top: 50px;
    .clickTop {
      width: 100%;
      height: 100%;
      border-left: 6px solid #cccccc;
      padding: 0px 40px;

      .clickTopText {
        .subwayText {
          display: flex;
          align-items: center;

          img {
            margin-left: 130px;
            width: 600px;
            height: 120px;
          }
        }
        p {
          font-size: 100px;
          line-height: 120px;
          color: #cccccc;
        }
        .click {
          margin-left: 20px;
          color: #ffd966;
          margin-right: 20px;
        }
        .goodFood {
          color: #ff9900;
        }
      }
    }
  }
  .aboutBottom {
    width: 100%;
    margin: 50px 0px;
    .thanksTo {
      display: flex;
      align-items: center;
      p {
        font-size: 26px;
      }
    }
    .thanksTo:after {
      content: "";
      display: block;
      width: 45%;
      border-bottom: 2px solid black;
      margin-left: 12px;
    }
    .thanksTo:before {
      content: "";
      display: block;
      width: 45%;
      border-bottom: 2px solid black;
      margin-right: 12px;
    }
  }
}
.footer {
  background-color: red;
  width: 100%;
  height: 250px;
  display: flex;
  .logoDiv {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 150px;
      height: 150px;
    }
  }
  .logoText {
    width: 100%;
    height: 100%;
  }
}
