@import "./MainPage.scss";

.alcohol {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 85rem;

  .logoBox {
    margin-top: 10.625rem;
    text-align: center;
    img {
      width: 38.125rem;
    }
  }
  .sojuDiv {
    margin-top: 2.25rem;
    width: 15.625rem;
    height: 6.25rem;

    .sojuIcon {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      img {
        width: 3.125rem;
        height: 3.125rem;
      }
      p {
        font-size: 1.5625rem;
      }
    }
    .sojuIcon:after {
      content: "";
      display: block;
      width: 4rem;
      border-bottom: 0.125rem solid black;
      margin-left: 1.0625rem;
    }
    .sojuIcon::before {
      content: "";
      display: block;
      width: 4rem;
      border-bottom: 0.125rem solid black;
    }
  }
  .sojuListDiv {
    width: 102%;
    height: 100%;
    .sojuCardDiv {
    }
  }

  .beerDiv {
    margin-top: 2.25rem;
    width: 15.625rem;
    height: 6.25rem;

    .beerIcon {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      img {
        width: 3.125rem;
        height: 3.125rem;
      }
      p {
        font-size: 1.5625rem;
      }
    }
    .beerIcon:after {
      content: "";
      display: block;
      width: 4rem;
      border-bottom: 0.125rem solid black;
      margin-left: 1.0625rem;
    }
    .beerIcon::before {
      content: "";
      display: block;
      width: 4rem;
      border-bottom: 0.125rem solid black;
    }
  }
  .beerListDiv {
    width: 102%;
    height: 100%;
    .beerCardDiv {
    }
  }
}

.riceWineDiv {
  margin-top: 2.25rem;
  width: 15.625rem;
  height: 6.25rem;

  .riceWineIcon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    img {
      width: 3.125rem;
      height: 3.125rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .riceWineIcon:after {
    content: "";
    display: block;
    width: 3.6rem;
    border-bottom: 0.125rem solid black;
    margin-left: 1.0625rem;
  }
  .riceWineIcon::before {
    content: "";
    display: block;
    width: 3.6rem;
    border-bottom: 125rem solid black;
  }
}
.riceWineDiv {
  width: 102%;
  height: 100%;
  .riceWineCardDiv {
  }
}
