.feather {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 85rem;

  .logoBox {
    width: 400px;
    height: 100px;
    background-color: #f3f3f3;
    .logoBox1 {
      position: relative;
      top: 19px;
      left: 20px;
      width: 400px;
      height: 100px;
      background-color: #d9d9d9;
      text-align: center;
      p {
        padding-top: 10px;
        font-size: 82px;
        font-weight: 900;
      }
    }
  }
  .featherFood {
    display: inline-block;
    margin-top: 60px;
  }
}
