.mainTop5 {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  width: 90vw;

  h1 {
    font-size: 70px;
  }
  .rankingDiv {
    display: flex;
    .storeCardDiv {
      width: 102%;
      height: 100%;
      margin-top: 50px;
      margin-right: 20px;
      .slides {
        .slick-prev {
          left: -27px !important;
        }

        .slick-prev {
          right: -37px !important;
        }

        .slick-next:before,
        .slick-prev:before {
          content: "" !important;
        }

        .next-slick-arrow,
        .prev-slick-arrow {
          color: red;
          font-size: 20px;
        }

        img {
          width: 20px;
        }
      }

      .storeCard {
        width: 330px;
        height: auto;
        margin: 0px 50px;
        cursor: pointer;
        .ranking {
          text-align: center;
          img {
            display: block;
            margin: auto;
          }
          .iconCrown {
            width: 40px;
            height: 40px;
          }
          .p {
            font-size: 20px;
          }
        }
        .rankingComponents {
          border: solid 2px black;
          height: 400px;
          margin-top: 15px;
          border-radius: 30px;
          p {
            text-align: center;
            margin-top: 5px;
            padding: 5px;
            padding-left: 15px;
            font-size: 20px;
          }

          hr {
            border: solid 1px black;
          }
          img {
            width: 100%;
            height: 70%;
          }
          .storeFooter {
            display: flex;
            align-items: center;
            text-align: center;
            .foodName {
              width: 250px;
            }

            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .storeCard:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
        z-index: 2;
      }
    }
  }
}
