.postWriting {
  position: relative;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 100%;
  width: 85rem;

  .weMeokTalkLogo {
    text-align: center;
  }
  .weMeokTalkList {
    position: relative;
    width: 56.4rem;
    border: 0.1875rem solid #ffd966;
    top: -0.5rem;
    left: 16.375rem;
    .listDiv {
      padding: 2.1875rem 1.875rem 1.875rem;

      .writingTitle {
        display: flex;

        p {
          width: 8%;
          font-size: 1.875rem;
          margin-right: 0.375rem;
        }
        input {
          width: 100%;
          height: 1.875rem;
          background: #f2f2f2;
          border: 0.0625rem solid gray;
          outline: none;
          padding: 0rem 1.25rem;
        }
      }
      .solidLine {
        border-bottom: 0.125rem solid black;
        margin-top: 1.875rem;
      }
      .writingCenter {
        .textBold {
          margin: 2.5rem 0rem 1.5625rem;
          font-size: 1.875rem;
        }
        .quill {
          .ql-container {
            height: 15.625rem;
            background: #f2f2f2;
          }
          h1 {
            font-size: 3rem;
          }
          h2 {
            font-size: 2.5rem;
          }
          h3 {
            font-size: 2.17rem;
          }
          h4 {
            font-size: 2rem;
          }
          b {
            font-weight: bold;
          }
          em {
            font-style: italic;
          }
          strong {
            font-weight: bold;
          }
        }
      }
      .writerButton {
        margin-top: 1.875rem;
        text-align: right;
        button {
          font-size: 1.0625rem;
          background-color: #ffd966;
          border-radius: 0.375rem;
          border: 0.0625rem solid black;
          width: 4.375rem;
          height: 2.1875rem;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}
