.storeList {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 82rem;

  .storeListLogo {
    text-align: center;
    img {
      width: 38.125rem;
    }
    .logoBox {
      width: 25rem;
      height: 6.25rem;
      background-color: #f3f3f3;
    }
    .storeFood {
      display: inline-block;
      margin-top: 3.75rem;
    }
  }
}
